    <!-- Footer -->
    <footer>
        <p>© 2025 TravelEase. All Rights Reserved.</p>
        <p><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
    </footer>

    <script src="/script.js"></script>
</body>
</html> 